@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    src:
        local('Space Grotesk'),
        url(../fonts/SpaceGrotesk-Variable.woff) format('woff supports variations'),
        url(../fonts/SpaceGrotesk-Variable.woff) format('woff-variations');
    font-weight: 400 500;
}