.page {
  font-family: 'Space Grotesk', sans-serif;
  max-width: 1240px;
  margin: 0 auto;

  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 70px;
}

.header__logo {
  width: 220px;
  height: 36px;
}

.navigation__items {
  display: flex;
  gap: 40px;
}

.navigation__link {
  font-size: 20px;
  text-decoration: none;
}

.button {
  padding: 20px 35px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  border: 1px solid var(--Dark, #191a23);
  border-radius: 14px;
  background-color: transparent;
  cursor: pointer;
}

.hero {
  position: relative;
  margin-bottom: 104px;
}

.hero__title {
  max-width: 531px;
  margin-bottom: 35px;
  font-size: 60px;
  font-weight: 500;
}

.hero__subtitle {
  max-width: 498px;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.main-button {
  background-color: #191a23;
  color: #fff;
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/svg/hero-image.svg);
  background-size: contain;
  width: 600px;
  height: 515px;
}

.clients {
  margin-bottom: 140px;
}

.clients-container {
  display: flex;
  justify-content: space-between;
}

.clients-container__link {
  cursor: pointer;
}

.clients-container__logo {
  filter: grayscale(100%);
}

.title-section {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.title {
  font-size: 40px;
  display: inline;
}

.title-highlighting {
  padding: 0 7px;
  border-radius: 7px;
  font-weight: 500;
}

.title-highlighting_type_white {
  background-color: #FFF;
  color: #000;
}

.title-highlighting_type_green {
  background-color: #B9FF66;
  color: #000;
}

.subtitle {
  font-size: 18px;
  width: 580px;
  align-self: center;
}

.services {
  margin-bottom: 100px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 40px;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0 5px 0 0 #191A23;
  padding: 50px;
}

.card_type_gray {
  background-color: #F3F3F3;
}

.card_type_green {
  background-color: #B9FF66;
}

.card_type_black {
  background-color: #191A23;
  color: #fff;
} 

.card__title-box {
  width: 100%;
  position: relative;
}

.card__title {
  font-size: 30px;
}

.card__link-box {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 15px;
  align-items: center;
}

.card__link {
  font-size: 20px;
  text-decoration: none;
}

.proposal {
  position: relative;
  border-radius: 45px;
  background: #F3F3F3;
  padding: 60px;
  margin-bottom: 163px;
}

.proposal__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 26px;
}

.proposal__subtitle {
  max-width: 500px;
  font-size: 18px;
  margin-bottom: 26px;
}

.proposal__image {
  position: absolute;
  top: -25px;
  right: 135px;
}

.case-studies {
  margin-bottom: 140px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.accordion__item {
  padding: 41px 60px;
  border-radius: 45px;
  border: 1px solid #191A23;
  background:#F3F3F3;
  box-shadow: 0 5px 0 0 #191A23;
}

.accordion__item_open {
  background-color: #B9FF66;
}

.accordion__title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 30px;
  font-weight: 500;
}

.accordion__title_open {
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.accordion__title-span {
  font-size: 60px;
  font-weight: 500;
}

.accordion__button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.accordion__text {
  margin-top: 30px;
}

.team {
  margin-bottom: 100px;
}

.team-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

.team-cards_item {
  padding: 40px 35px;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0 5px 0 0 #191A23;
}

.team-cards_box {
  position: relative;
  display: flex;
  border-bottom: 1px solid #191A23;
  padding-bottom: 28px;
}

.team-cards_image {
  margin-right: 19px;
}

.team-cards_info {
  align-self: end;
}

.team-cards_name {
  font-size: 20px;
  font-weight: 500;
}

.team-cards_about {
  font-size: 18px;
}

.team-cards_link-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.team-cards_summary {
  font-size: 18px;
  padding-top: 28px;
}

.team__button {
  display: block;
  margin-left: auto;
  width: 269px;
}

.testimonials {
  margin-bottom: 140px;
}

.slider-wrapper {
  padding-top: 84px;
  border-radius: 45px;
  background: var(--Dark, #191A23);
}

.slider-wrapper .testimonials-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .testimonials-list::-webkit-scrollbar {
  display: none;
}

.testimonials-item {
  width: 606px;
}

.speech-block {
    position: relative;
    padding: 48px 52px;
    border-radius: 45px;
    border: 1px solid #B9FF66;
}

.speech-block:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #191a23 transparent;
    border-width: 20px 20px 0;
    bottom: -20px;
    left: 33%;
    margin-left: -20px;
}

.speech-block:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: #B9FF66 transparent;
    border-width: 22px 22px 0;
    bottom: -23px;
    left: 33%;
    margin-left: -22px;
    display: block;
}

.testimonials-item__text {
  /* padding: 48px 52px; */
  color: #FFF;
  font-size: 18px;
  /* border: 1px solid #B9FF66; */
  /* border-radius: 45px; */
}

.testimonials-item__info {
  margin-top: 48px;
  margin-left: 80px;
  margin-bottom: 124px;
}

/* .testimonials-item__text::after {
  border-top-color: #a53d38;
  border-bottom: 0;
  bottom: -20px; left: 50%;
  margin-left: -20px;
} */

.testimonials-item__name {
  color: #B9FF66;
  font-size: 20px;
  font-weight: 500;
}

.testimonials-item__about {
  color: #FFF;
  font-size: 18px;
}

.slider-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.buttons-block {
  display: flex;
  justify-content: space-between;
  width: 564px;
  margin: 0 auto;
  padding-bottom: 68px;
}

.slider-button_left {
  transform: rotate(180deg);
}

.dots {
  display: flex;
  gap: 20px;
}

.dot {
  background-image: url(../images/svg/dot-white.svg);
  width: 14px;
  height: 14px;
  background-size: contain;
}

.dot_active {
  background-image: url(../images/svg/dot-green.svg);
  width: 14px;
  height: 14px;
  background-size: contain;
}

.contact {
  margin-bottom: 140px;
}

.contact-form-section {
  border-radius: 45px;
  background: #F3F3F3;
  padding: 60px 100px;

  background-image: url(../images/contact-section-image.png);
  background-repeat: no-repeat;
  background-position: center right -290px;
  background-size: contain;
}

.radio-section {
  display: flex;
  gap: 35px;
  margin-bottom: 40px;
}

.contact-form__radio-block {
  display: flex;
  align-items: center;
  gap: 14px;
}

.contact-form__radio-label {
  font-size: 18px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 556px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.input-block {
  display: flex;
  flex-direction: column;
}

.contact-form__label {
  font-size: 16px;
  line-height: 28px;
}

.contact-form__input {
  padding: 18px 30px;
  border-radius: 14px;
  border: 1px solid #000;
}